@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Serrif;
  src: url(fonts/roboto/RobotoSerif-Regular.ttf);
}

@font-face {
  font-family: Roboto-Mono;
  src: url(fonts/roboto/RobotoMono-Regular.ttf);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: black;
  font-size: 45px;
  -webkit-text-stroke: 2px white;
  background-image: url('./tile.png');
  padding: 30px;
  margin: 0px;
}

.headingRow {
  text-align: center;
  height: 1px;
  font-size: 18px;
  color: cyan
}

.outline {
  outline: 5px solid white;
}

.insideHeader {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  outline: 5px solid white;
  margin: 0px;
  padding: 5px
}

body {
  font-family: Roboto;
  background-color: black;
  color: white;
  text-align: center
}

h1, h2, h3, h4 {
  font-family: Roboto-Serrif;
}

hr {
  margin-top: 5px
}

th, td {
  vertical-align: top;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: left;
}

th {
  height: 1px
}

a {
  color: lightblue
}

ul {
  margin: 0px;
  padding-left: 16px
}
